.footer{
    padding: 3px 3px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 70px;
}

.footer p{
    text-align: center;
}

body {
    position: relative;
    min-height: 100vh;
}