.guard__card_container{
    margin-top: 5px;
    width: 100%;
    display: flex;
    gap: 50px;
    margin-left: 50px;
    padding-bottom: 70px;
    flex-wrap: wrap;
}

.guard__card{
    background-color: gainsboro;
    width: 200px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
}

.guard__card .guard__img{
    width: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-left: 25px;
}



.footer{
    position: absolute;
    bottom: 0;
}


.card_buttons .card_delete{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border-radius: 4px;
    background-color: #db0303;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 14px;
    width: 50px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    position: relative;
}

.card_edit{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border-radius: 4px;
    background-color: #f8a100;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 14px;
    width: 50px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    position: relative;
}


.card_delete svg, .card_edit svg{
    width: 30px;
    height: 29px;
    position: absolute;
    top: 23%;
    left: 23%;
    color: black;
}

.addGuard{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    border-radius: 4px;
    background-color: #008a22;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 14px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 50px;
    height: 50px;
}