.scpview__flex{
    display: flex;
    margin-left: 250px;
    margin-right: 250px;
    gap: 150px;
    padding-bottom: 70px;
}

.scp_name{
    text-decoration:underline;
    font-size: 3rem;
}

.scp_class{
    font-size: 2rem;
    margin-bottom: 50px;
}

.scp_class a{
    text-decoration: underline;
}

p{
    font-size: 1.15rem;
}

